{% block contenido %}
<table class="table table-condensed table-striped">
    <thead>  
        <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>MARCA</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>DESCRIPCION</th>
            <th>TIPO</th>
            <th>IMAGEN</th>
            <th>FECHA INGRESO</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
     {% for aux in listaProductos %}
         <tr>
             <td>{{ aux.plu_codigo }}</td>
             <td>{{ aux.nombre }}</td>
             <td>{{ aux.marca }}</td>
             <td>{{ aux.precio }}</td>
             <td>{{ aux.stock }}</td>
             <td>{{ aux.descripcion }}</td>
             <td>{{ aux.tipo }}</td>
             <td>{{ aux.imagen }}</td>
             <td>{{ aux.fecha_ingreso }}</td>
             <td>{{ aux.created_at }}</td>
             <td>{{ aux.updated_at }}</td>
             <td>
                 <a href="{% url 'modificar' aux.codigo %}" class="btn btn-info">Modificar</a>
                 <a href="{% url 'eliminarproducto' aux.codigo %}" class="btn btn-danger">Eliminar</a>
             </td>
         </tr>
     {% endfor %}
    </tbody>
</table>
{% end block contenido %}